old_solution/node-red/rpiMain.json
[
    {
        "id": "20388b4d.513684",
        "type": "tab",
        "label": "rpiMain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "308a65da.206daa",
        "type": "mqtt in",
        "z": "20388b4d.513684",
        "name": "+/registerMe",
        "topic": "ws/rpi1/+/registerMe",
        "qos": "2",
        "datatype": "auto",
        "broker": "b45051da.e8073",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e3a091e6.414db"
            ]
        ]
    },
    {
        "id": "e3a091e6.414db",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "registerNewEsp",
        "func": "var t = msg.topic.split(\"/\");\nvar src = t[2];\nnode.log(\"sensor \"+src+\" wants to register.\");\nvar regs = flow.get(\"registeredEsps\");\nif (Array.isArray(regs) && (regs.length > 0)){\n    if (regs.includes(src))\n        node.log(\"sensor \"+src+\" is already registered. skipping.\");\n    else {\n        regs.push(src);\n        node.log(\"sensor \" + src + \" registered just now.\");\n    }\n} else\n    regs = [src];\n\nregs = regs.filter(Boolean); //ha!\nflow.set(\"registeredEsps\",regs);\n\nmsg.payload = regs;\n\n//prepare options for combo, stupid like hell\noptions = [];\nfor (i = 0, len = regs.length; i < len; i++) {\n    //damned dynamic field name creation\n    options.push({[regs[i]]:regs[i]});\n}\nmsg.options = options;\nmsg.payload = []; \n/*also, combo will set selection to this incoming payload,\nbut if You clear it, it will not, thanks */\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "6b07edd8.0520d4",
                "d248f03c.68a11"
            ]
        ]
    },
    {
        "id": "c9092034.7e722",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "sensorID1/registerMe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/rpi1/sensorID1/registerMe",
        "payload": "1",
        "payloadType": "num",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "e3a091e6.414db"
            ]
        ]
    },
    {
        "id": "ad84670e.ae0308",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "unregisterAllSensors",
        "func": "flow.set(\"registeredEsps\",[]);\nnode.log(\"Unregistered all sensors.\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "497c525c.98d1bc",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/unregisterAll",
        "payload": "1",
        "payloadType": "num",
        "x": 370,
        "y": 1320,
        "wires": [
            [
                "ad84670e.ae0308"
            ]
        ]
    },
    {
        "id": "f957ff9e.ca4be",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "setSelectedEsp",
        "func": "//use this, when receiving from a list\n//var t = msg.payload.title;\n\n//use this, when receiving from a dropdown\nvar esp= msg.payload;\n\nflow.set(\"selectedEsp\",esp);\nnode.log(\"Sensor \" + esp + \" selected just now\");\n\n// for notification widget\nmsg.payload = esp;\nmsg.topic = \"New sensor has been selected!\";\n\n// for sqlite widget\nmsg.params = {\n    $sensorID:esp\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "6d94b3d7.a53bdc",
                "35a95f8f.9541b",
                "929fb98c.4e6548",
                "535ed848.658688",
                "2c4d6130.fde64e"
            ]
        ]
    },
    {
        "id": "6d94b3d7.a53bdc",
        "type": "ui_text",
        "z": "20388b4d.513684",
        "group": "34efbe45.60c2d2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "selected sensor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "a87e53d.7f3e2b",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "",
        "label": "acmmFreq: ",
        "tooltip": "ACMM bridge switching frequency, usually about 400Hz, but consider staying away from n*50Hz",
        "group": "a2f53da8.9db8d",
        "order": 18,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acmmFreq",
        "topicType": "str",
        "format": "{{value}}",
        "min": "300",
        "max": "500",
        "step": "5",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "c78199f0.cfd168"
            ]
        ]
    },
    {
        "id": "354dcaa5.8811b6",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send params",
        "tooltip": "Sends parameters to selected sensor and stores them in database",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "960429a9.d3a298"
            ]
        ]
    },
    {
        "id": "c78199f0.cfd168",
        "type": "change",
        "z": "20388b4d.513684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acmmFreq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "35a95f8f.9541b",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "\nINSERT or ignore INTO tblSensorParams(sensorID, sensorName) values ($sensorID, $sensorID);\n",
        "name": "insert sensor params",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "91acdcef.616e9"
            ]
        ]
    },
    {
        "id": "52851142.08d73",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "extractDbFields",
        "func": "//node.log(\"\");\nvar msg1 = { payload: msg.payload[0].acmmFreq };\nvar msg2 = { payload: msg.payload[0].acmmAggOver };\nvar msg3 = { payload: msg.payload[0].measFreq };\nvar msg4 = { payload: msg.payload[0].sendInterval };\nvar msg5 = { payload: msg.payload[0].sleepOnStill };\n\n\nnode.log(\"Received such sensor params:\\nacmmFreq: \"+JSON.stringify(msg1)+\"\\nparam1:\"+JSON.stringify(msg2));\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "a87e53d.7f3e2b"
            ],
            [
                "a1e7178d.f4ee68"
            ],
            [
                "fc299919.acafe8"
            ],
            [
                "3bd133d1.28cefc"
            ],
            [
                "5cb4bcb4.da7ff4"
            ]
        ]
    },
    {
        "id": "a1e7178d.f4ee68",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "",
        "label": "acmmAggOv",
        "tooltip": "guess Yourself",
        "group": "a2f53da8.9db8d",
        "order": 19,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acmmAggOver",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1",
        "max": "256",
        "step": 1,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "e357cc20.880f1"
            ]
        ]
    },
    {
        "id": "e357cc20.880f1",
        "type": "change",
        "z": "20388b4d.513684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acmmAggOver",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "960429a9.d3a298",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "fSendParamsUpdateSQL",
        "func": "var acmmFreq = flow.get(\"acmmFreq\");\nvar acmmAggOver = flow.get(\"acmmAggOver\");\nvar measFreq = flow.get(\"measFreq\");\nvar sleepOnStill = flow.get(\"sleepOnStill\");\nvar sendInterval = flow.get(\"sendInterval\");\n\nvar sensorId = flow.get(\"selectedEsp\");\n\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) !== \"object\"){\n    espProps = {};\n}\nif (!espProps.hasOwnProperty(sensorId))\n    espProps[sensorId] = {};\n\n//node.log(\"sensor \" + t + \" selected now\");\n/*msg.payload = \"INSERT OR REPLACE INTO\"+\n    \"tblSensorParam(acmmFreq,param1)\" +\n    \"VALUES(\"+acmmFreq+\",\"+param1+\");\";\n*/\n\nespProps[sensorId].acmmFreq = acmmFreq;\nespProps[sensorId].acmmAggOver = acmmAggOver;\nespProps[sensorId].measFreq = measFreq;\nespProps[sensorId].sleepOnStill = sleepOnStill;\nespProps[sensorId].sendInterval = sendInterval;\nflow.set(\"espProps\",espProps);\n\nmsg.params = {\n    $sensorID:sensorId,\n    $acmmFreq: acmmFreq,\n    $acmmAggOver: acmmAggOver,\n    $measFreq: measFreq,\n    $sleepOnStill: sleepOnStill,\n    $sendInterval: sendInterval\n}\n\nvar msg1 = { \n    topic: \"ws/\"+sensorId+\"/rpi1/setAcmm\",\n    payload: {\n        freq: acmmFreq,\n        aggOver: acmmAggOver\n    }\n};\nvar msg2 = { \n    topic: \"ws/\"+sensorId+\"/rpi1/measFreq\",\n    payload: {\n        freq: measFreq\n    }\n};\n\nvar msg3 = { \n    topic: \"ws/\"+sensorId+\"/rpi1/sleepOnStill\",\n    payload: {\n        timeout: sleepOnStill\n    }\n};\n\nvar msg4 = { \n    topic: \"ws/\"+sensorId+\"/rpi1/sendInterval\",\n    payload: {\n        sendInterval: sendInterval\n    }\n};\n\nreturn [msg,msg1,msg2,msg3,msg4];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "c8147b7a.c73478"
            ],
            [
                "ab197fea.66ea8"
            ],
            [
                "ab197fea.66ea8"
            ],
            [
                "ab197fea.66ea8"
            ],
            [
                "ab197fea.66ea8"
            ]
        ]
    },
    {
        "id": "c8147b7a.c73478",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "INSERT OR REPLACE INTO tblSensorParams\n(sensorID,sensorName,acmmFreq,acmmAggOver,measFreq,sleepOnStill,sendInterval)\nVALUES\n($sensorID,\"someName\",$acmmFreq,$acmmAggOver,$measFreq,$sleepOnStill,$sendInterval);",
        "name": "udate tblSensorParams",
        "x": 630,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "ab197fea.66ea8",
        "type": "mqtt out",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b45051da.e8073",
        "x": 570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a5eb738e.26a1f",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "sql2chart",
        "func": "//var data = [[{\"x\":1537348236000,\"y\":2493},{\"x\":1537348326000,\"y\":2493}]];\n//\nvar series =[\"acmm\",\"temperature\",\"pressure\",\"humidity\",\"impedance\"];\nvar labels = [\"Labels\"];\nvar ac = [];\nvar te = [];\nvar pr = [];\nvar hu = [];\nvar imp = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) {\n    let ts = Date.parse(msg.payload[i].timestamp) + 2*60*60;\n    ac.push({\"x\": ts, \"y\":Number(msg.payload[i].acmm)});\n    te.push({\"x\": ts, \"y\":Number(msg.payload[i].temperature)});\n    pr.push({\"x\": ts, \"y\":Number(msg.payload[i].pressure)});\n    hu.push({\"x\": ts, \"y\":Number(msg.payload[i].humidity)});\n    imp.push({\"x\": ts, \"y\":Number(msg.payload[i].impedance)});\n}\n\nvar data = [ac,te,pr,hu,imp];\n\nmsg.payload = [{series, data, labels}];\n//clear the chart\nnode.send({payload:[]});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 600,
        "wires": [
            [
                "c71cbcc4.dbc72"
            ]
        ]
    },
    {
        "id": "a6ec1d.a92763e",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "select * from tblMeasurements as M\ninner join tblTests as T on M.testId=T.id\nwhere T.name==$testName",
        "name": "sql",
        "x": 730,
        "y": 600,
        "wires": [
            [
                "a5eb738e.26a1f"
            ]
        ]
    },
    {
        "id": "c71cbcc4.dbc72",
        "type": "ui_chart",
        "z": "20388b4d.513684",
        "name": "",
        "group": "e02eeec4.09051",
        "order": 1,
        "width": "16",
        "height": "13",
        "label": "offline chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1010,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6729bf41.bfef2",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1980,
        "wires": []
    },
    {
        "id": "88e3f852.2473a8",
        "type": "mqtt in",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "ws/rpi1/+/measurement",
        "qos": "2",
        "datatype": "buffer",
        "broker": "b45051da.e8073",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 1880,
        "wires": [
            [
                "73656ff64b5dc2d0"
            ]
        ]
    },
    {
        "id": "25021d96.6b5862",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "meas2sql",
        "func": "var t = msg.topic.split(\"/\");\nvar sensorId = t[2];\n//objects in payload are flattened in MQTT down to Jsons,\n//so I need to re-create the object\nvar payload = JSON.parse(msg.payload);\nvar testId;\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (espProps !== null && typeof(espProps) === \"object\" && espProps.hasOwnProperty(sensorId)){\n    testId = espProps[sensorId].testId;        \n}\n\nif (espProps !== null && typeof(espProps)===\"object\"){\n    espProps[sensorId].lastAcmm = payload.acmm;  \n    espProps[sensorId].lastImp = payload.imp;  \n}\n\nconst maxLag = 30*60*1000; // in ms\n\nvar isoTimeStr;\nlet junkEspTime = false;\n\ntimeRpi = new Date(Date.now());\ntry{\n    timeEsp = new Date(payload.ts);\n    isoTimeStr = timeEsp.toISOString();\n}catch(error){\n    junkEspTime = true;\n}\n\nif (junkEspTime || (Math.abs(timeEsp.getTime() - timeRpi.getTime()) > maxLag)){\n    isoTimeStr = timeRpi.toISOString();\n}\n\nlet relPressure = parseInt(payload.p - global.get('ambientPressure'));\n\n// for SQL input\nmsg.params = {\n    $sensorID:sensorId,\n    $testID:testId,\n    $timestamp:isoTimeStr,\n    $acmm:  payload.acmm,\n    $temperature:  payload.t,\n    $pressure:  relPressure,\n    $humidity:  payload.h,\n    $impedance:  payload.imp,\n    $ph:  payload.ph,\n    $phf:  payload.phf\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1880,
        "wires": [
            [
                "c61ea26.24ac86",
                "db0c9178.f74ee"
            ]
        ]
    },
    {
        "id": "1450f974.4e4397",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "meas2chart",
        "func": "var t = msg.topic.split(\"/\");\nvar sensorID = t[2];\n\nif (flow.get(\"selectedEsp\")!=sensorID)\n    return;\n    \n\n//var ts = Date.now();\n//objects in payload are flattened in MQTT down to Jsons,\n//so I need to re-create the object\nvar payload = JSON.parse(msg.payload);\n\nconst maxLag = 30*60*1000; // in ms\n\ntimeEsp = new Date(payload.ts);\ntimeRpi = new Date(Date.now());\nif (Math.abs(timeEsp.getTime() - timeRpi.getTime()) > maxLag){\n    ts = Date.now();\n} else {\n    ts = payload.ts;\n}\n\n//ts = new Date(ts).toString();\nlet relPressure = parseInt(payload.p - global.get('ambientPressure'));\n\n//for chart input\nnode.send({\n    topic:\"acmm\", \n    payload: {x:ts, y:payload.acmm/10}\n});\nnode.send({\n    topic:\"temperature\", \n    payload: {x:ts, y:payload.t}\n});\nnode.send({\n    topic:\"humidity\", \n    payload: {x:ts, y:payload.h}\n});\nnode.send({\n    topic:\"pressure\", \n    payload: {x:ts, y:relPressure}\n});\nnode.send({\n    topic:\"impedance\", \n    payload: {x:ts, y:payload.imp/10}\n});\n    \nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1920,
        "wires": [
            [
                "6729bf41.bfef2",
                "3dfb07e2.bf2538"
            ]
        ]
    },
    {
        "id": "564c16ce.e788e8",
        "type": "mqtt out",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b45051da.e8073",
        "x": 470,
        "y": 2380,
        "wires": []
    },
    {
        "id": "cdf9851f.fc9de8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "startMeas",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/startMeas\";\n\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) !== \"object\"){\n    espProps = {};\n}\nif (!espProps.hasOwnProperty(sensorId))\n    espProps[sensorId] = {};\n\nespProps[sensorId].unfinished = true;\nflow.set(\"espProps\",espProps);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2340,
        "wires": [
            [
                "564c16ce.e788e8",
                "1b6c682b2c6f7b06"
            ]
        ]
    },
    {
        "id": "445fc1c0.8fdf4",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "stopMeas",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/stopMeas\";\n\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) !== \"object\"){\n    espProps = {};\n}\nif (!espProps.hasOwnProperty(sensorId))\n    espProps[sensorId] = {};\n\nespProps[sensorId].unfinished = false;\nflow.set(\"espProps\",espProps);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2380,
        "wires": [
            [
                "564c16ce.e788e8"
            ]
        ]
    },
    {
        "id": "fd1b34e9.7d4dd8",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2300,
        "wires": [
            [
                "cdf9851f.fc9de8"
            ]
        ]
    },
    {
        "id": "e3e256b5.6a1c98",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2380,
        "wires": [
            [
                "445fc1c0.8fdf4"
            ]
        ]
    },
    {
        "id": "c61ea26.24ac86",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "INSERT INTO tblMeasurements\n(sensorID,acmm,temperature,pressure,humidity,impedance,ph,phf,testID,timestamp)\nVALUES\n($sensorID,$acmm,$temperature,$pressure,$humidity,$impedance,$ph,$phf,$testID,$timestamp);\n",
        "name": "sql",
        "x": 690,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "95689af6.413aa8",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "34efbe45.60c2d2",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear online chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 870,
        "y": 1940,
        "wires": [
            [
                "e3f386af.b62878",
                "5295713.523679",
                "742982d6.9f71fc",
                "1ef088e2.8164c7",
                "6c879e0d.50bb",
                "5b67b040.5747c"
            ]
        ]
    },
    {
        "id": "67bc65fe.02f6ac",
        "type": "link out",
        "z": "20388b4d.513684",
        "name": "measurementsOut",
        "links": [
            "c264a4a3.7b7738"
        ],
        "x": 615,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e703dc2b.c7b0c",
        "type": "comment",
        "z": "20388b4d.513684",
        "name": "############  Sensor registration #############",
        "info": "",
        "x": 250,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6b07edd8.0520d4",
        "type": "ui_dropdown",
        "z": "20388b4d.513684",
        "name": "selectSensor",
        "label": "",
        "tooltip": "",
        "place": "Select sensor",
        "group": "a2f53da8.9db8d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "f957ff9e.ca4be",
                "d248f03c.68a11"
            ]
        ]
    },
    {
        "id": "3c68fd61.9cac02",
        "type": "ui_dropdown",
        "z": "20388b4d.513684",
        "name": "select test",
        "label": "",
        "tooltip": "to display in offline chart",
        "place": "select test",
        "group": "e02eeec4.09051",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "6e9f8181.6284e"
            ]
        ]
    },
    {
        "id": "929fb98c.4e6548",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "select distinct T.name, T.id from tblMeasurements as M\ninner join tblTests as T on T.id = M.testID\nwhere sensorID=$sensorID;",
        "name": "tests for sensorID",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "a2ca62bd.f17ef"
            ]
        ]
    },
    {
        "id": "6e9f8181.6284e",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "\n// for sqlite widget\nmsg.params = {\n    $testName:msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "a6ec1d.a92763e"
            ]
        ]
    },
    {
        "id": "a2ca62bd.f17ef",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "@",
        "func": "\n//prepare options for combo, stupid like hell\nmsg.options = [];\nfor (i = 0, len = msg.payload.length; i < len; i++) {\n    //damned dynamic field name creation\n    msg.options.push(msg.payload[i].name);\n}\n\nmsg.payload = []; \n/*also, combo will set selection to this incoming payload,\nbut if You clear it, it will not, thanks */\nmsg.topic = \"options for combo\";\nmsg.params = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "3c68fd61.9cac02"
            ]
        ]
    },
    {
        "id": "d248f03c.68a11",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "535ed848.658688",
        "type": "ui_toast",
        "z": "20388b4d.513684",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "230b0d45.17c032",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Gen. test name",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "newTestName/description",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "a9ee6180.4f1c9"
            ]
        ]
    },
    {
        "id": "8bc7d3f7.98b5d",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var t = msg.payload.split(\"/\");\nvar testName = t[0];\nif (testName==\"Cancel\"){\n    return;\n}\nvar testDescription = \"\";\nif (t.length>1){\n    testDescription = t[1];\n}\n\n// for SQL input\nreturn {\n    params: {\n        $testName: testName,\n        $testDescription: testDescription\n    },\n    topic: \"sql parameters\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            [
                "a2485615.677168"
            ]
        ]
    },
    {
        "id": "a2485615.677168",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "insert into tblTests(name,description)\nvalues($testName,$testDescription);\n",
        "name": "sqlInsert",
        "x": 940,
        "y": 900,
        "wires": [
            [
                "3e673e1c.46bb52"
            ]
        ]
    },
    {
        "id": "7a96baa6.b7c094",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var testName = msg.payload[0].name;\nvar testId = msg.payload[0].id;\nvar testDescription = msg.payload[0].description;\n\nvar esp = flow.get(\"selectedEsp\");\n\nflow.set('selectedTestName', testName);\nflow.set('selectedTestId', testId);\nflow.set('selectedTestDesc', testDescription);\n\nvar espProps;\nespProps = flow.get(\"espProps\");\n//might happen that the object does not exist or is surprising type, then create it\nif (!(typeof(espProps) === \"object\" && espProps !== null)){\n    espProps = {};\n}\nif (!espProps.hasOwnProperty(esp))\n    espProps[esp] = {};\n//espProps[esp] = [testId, testName, testDescription];\nespProps[esp].testId = testId;\nespProps[esp].testName = testName;\nespProps[esp].testDescription = testDescription;\n\nflow.set(\"espProps\", espProps);\n\nreturn {topic: 'testSelected', payload: msg.payload[0].name};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 900,
        "wires": [
            [
                "b84813c.bf464f"
            ]
        ]
    },
    {
        "id": "3e673e1c.46bb52",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "fixed",
        "sql": "SELECT * from tblTests order by id desc limit 1\n",
        "name": "sql",
        "x": 1070,
        "y": 900,
        "wires": [
            [
                "7a96baa6.b7c094"
            ]
        ]
    },
    {
        "id": "c10433b0.71d43",
        "type": "catch",
        "z": "20388b4d.513684",
        "name": "",
        "scope": [
            "a2485615.677168"
        ],
        "uncaught": false,
        "x": 1010,
        "y": 1120,
        "wires": [
            [
                "1c1113f1.ba926c"
            ]
        ]
    },
    {
        "id": "257e03b5.15652c",
        "type": "ui_toast",
        "z": "20388b4d.513684",
        "position": "top right",
        "displayTime": "12",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "topic": "error",
        "name": "error",
        "x": 1270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1c1113f1.ba926c",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "\nreturn {topic: 'error',\n    payload: \"test name already exists!\"\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 1120,
        "wires": [
            [
                "257e03b5.15652c"
            ]
        ]
    },
    {
        "id": "def033cf.5f8e4",
        "type": "catch",
        "z": "20388b4d.513684",
        "d": true,
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 2560,
        "wires": [
            [
                "7d262906.197fb8"
            ]
        ]
    },
    {
        "id": "211d37c8.d7d038",
        "type": "ui_toast",
        "z": "20388b4d.513684",
        "position": "top right",
        "displayTime": "12",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "topic": "error",
        "name": "error",
        "x": 510,
        "y": 2560,
        "wires": []
    },
    {
        "id": "7d262906.197fb8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "\nreturn {topic: 'error',\n    payload: msg.error.message +\"\\n\"+\n        msg.error.source.id+\n        msg.error.source.type+\n        msg.error.source.name\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 2560,
        "wires": [
            [
                "211d37c8.d7d038"
            ]
        ]
    },
    {
        "id": "9d9ae183.a607a",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start meas.",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 2340,
        "wires": [
            [
                "cdf9851f.fc9de8"
            ]
        ]
    },
    {
        "id": "a2ac1884.7e94d8",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop meas.",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "445fc1c0.8fdf4"
            ]
        ]
    },
    {
        "id": "e66739b2.bd56c8",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send Regist. Call",
        "tooltip": "broadcast for all sensors to wake up from light sleep and introduce themselves",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "str",
        "topic": "ws/all/rpi1/registerCall",
        "topicType": "str",
        "x": 370,
        "y": 1400,
        "wires": [
            [
                "87170188.30eed"
            ]
        ]
    },
    {
        "id": "87170188.30eed",
        "type": "mqtt out",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b45051da.e8073",
        "x": 590,
        "y": 1400,
        "wires": []
    },
    {
        "id": "41bede42.5beef",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unregister All",
        "tooltip": "forget all sensors (not deleted from database)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "ad84670e.ae0308"
            ]
        ]
    },
    {
        "id": "314313f0.a41bbc",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 310,
        "y": 1780,
        "wires": []
    },
    {
        "id": "fc299919.acafe8",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "",
        "label": "measPeriod",
        "tooltip": "sensors (except for acmm) measurement period, in [s]",
        "group": "a2f53da8.9db8d",
        "order": 17,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "measPeriod",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1",
        "max": "60",
        "step": 1,
        "x": 870,
        "y": 340,
        "wires": [
            [
                "36cec3f8.11904c"
            ]
        ]
    },
    {
        "id": "36cec3f8.11904c",
        "type": "change",
        "z": "20388b4d.513684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "measFreq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "836bc093.96924",
        "type": "ui_switch",
        "z": "20388b4d.513684",
        "name": "",
        "label": "Log to Grafana",
        "tooltip": "log data also to Grafana or not; see localhost:3000; global to all sensors",
        "group": "a2f53da8.9db8d",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "logToGrafana",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "f73a1485.476008"
            ]
        ]
    },
    {
        "id": "f73a1485.476008",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "flow.set(\"logToGrafana\",msg.payload);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 510,
        "y": 1580,
        "wires": []
    },
    {
        "id": "56375e45.77292",
        "type": "ui_switch",
        "z": "20388b4d.513684",
        "name": "",
        "label": "Log to CSV",
        "tooltip": "log data also to CSV file; file name equals current test name; global to all sensors",
        "group": "a2f53da8.9db8d",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "logToCsv",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "983d9872.c8c6a8"
            ]
        ]
    },
    {
        "id": "983d9872.c8c6a8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "flow.set(\"logToCsv\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "4e04a500.ce037c",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "meas2graf",
        "func": "if (flow.get(\"logToGrafana\")){\n    var t = msg.topic.split(\"/\");\n    var sensorId = t[2];\n    //objects in payload are flattened in MQTT down to Jsons,\n    //so I need to re-create the object\n    var payload = JSON.parse(msg.payload);\n    \n    var testId;\n    var espProps;\n    espProps = flow.get(\"espProps\");\n    if (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n        //we have an obj linking sensor to test, use it\n        testId = espProps[sensorId].testId;        \n    }\n    payload.testID = testId;\n    payload.sensorID = sensorId;\n    if (payload.hasOwnProperty('ts')){\n        payload.time = payload.ts;\n        delete payload['ts'];\n    }\n\n    const maxLag = 30*60*1000; // in ms\n    \n    timeEsp = new Date(payload.time);\n    timeRpi = new Date(Date.now());\n    if (Math.abs(timeEsp.getTime() - timeRpi.getTime()) > maxLag){\n        payload.time = Date.now();\n    }\n\n    let relPressure = parseInt(payload.p - global.get('ambientPressure'));\n    payload.p = relPressure;\n\n\n    return {topic: \"forInflux\",\n            payload: payload};\n}else\n    return;\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1840,
        "wires": [
            [
                "67bc65fe.02f6ac"
            ]
        ]
    },
    {
        "id": "8ce9bbe.e6cce48",
        "type": "csv",
        "z": "20388b4d.513684",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp, timestampLocal, sensorID, testName, t, p, h, acmm, imp, ph, phf",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 650,
        "y": 1800,
        "wires": [
            [
                "a30331cb.ef54f"
            ]
        ]
    },
    {
        "id": "a30331cb.ef54f",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "if (flow.get(\"logToCsv\")){\n    return {payload: msg.payload, \n            filename: global.get('csvFileName')};\n}else\n    return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1800,
        "wires": [
            [
                "8bfdd640.d45618"
            ]
        ]
    },
    {
        "id": "8bfdd640.d45618",
        "type": "file",
        "z": "20388b4d.513684",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 920,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "9def396a.85a638",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "meas2CSV",
        "func": "if (flow.get(\"logToCsv\")){\n    var t = msg.topic.split(\"/\");\n    var sensorId = t[2];\n    var pl = JSON.parse(msg.payload);\n    \n    var testId;\n    var testName;\n    var espProps;\n    espProps = flow.get(\"espProps\");\n    if (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n        //we have an obj linking sensor to test, use it\n        testId = espProps[sensorId].testId;        \n        testName = espProps[sensorId].testName;        \n    }else{\n        testName = \"smartSensorDefaultTestName\";\n    }\n    \n    // global.set('csvFileName', \"wsdata/\" + testName + \".csv\");\n    global.set('csvFileName', \"/data/csv/\" + testName + \".csv\");\n    \n    const maxLag = 30*60*1000; // in ms\n    timeEsp = new Date(pl.ts);\n    timeRpi = new Date(Date.now());\n    if (Math.abs(timeEsp.getTime() - timeRpi.getTime()) > maxLag){\n        ts = Date.now();\n    } else {\n        ts = pl.ts;\n    }\n    \n    let relPressure = parseInt(pl.p - global.get('ambientPressure'));\n    pl.p = relPressure;\n\n    pl.timestamp = ts;\n    pl.timestampLocal = tsl = Date(ts).toString();\n    pl.sensorID = sensorId;\n    pl.testName = testName;\n    return {topic:\"forCSV\",payload:pl};\n    \n}else\n    return;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "8ce9bbe.e6cce48",
                "62487740.274dc8"
            ]
        ]
    },
    {
        "id": "a9ee6180.4f1c9",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var esp = flow.get('selectedEsp');\n\nvar testName = \"\";\n\nif (testName === \"\"){\n    //invent a new test name\n    let today = new Date();\n    testName = `${today.getFullYear()}_${today.getMonth()+1}_${today.getDate()}__${today.getHours()}_${today.getMinutes()}_${today.getSeconds()}_${esp}`;\n}\n\n\n// for SQL input\nreturn {\n    payload: testName + '/description',\n    params: {\n        $testName: testName,\n        $testDescription: \"description\"\n    },\n    topic: \"text for ui_edit and sql params\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 900,
        "wires": [
            [
                "3f8fce17.dd8882",
                "8bc7d3f7.98b5d"
            ]
        ]
    },
    {
        "id": "3f8fce17.dd8882",
        "type": "ui_text_input",
        "z": "20388b4d.513684",
        "name": "",
        "label": "Current test name [Enter to post]",
        "tooltip": "",
        "group": "a2f53da8.9db8d",
        "order": 5,
        "width": 7,
        "height": 2,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 550,
        "y": 880,
        "wires": [
            [
                "8bc7d3f7.98b5d"
            ]
        ]
    },
    {
        "id": "b84813c.bf464f",
        "type": "ui_toast",
        "z": "20388b4d.513684",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1240,
        "y": 960,
        "wires": []
    },
    {
        "id": "63e426b0.7b02d8",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "fixed",
        "sql": "select distinct S.sensorID from tblMeasurements M\ninner join tblTests T on M.testID=T.id\ninner join tblSensorParams S on M.sensorID=S.sensorID;",
        "name": "sensors with meas",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "3c6eaea8.e00b72"
            ]
        ]
    },
    {
        "id": "3c6eaea8.e00b72",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "..",
        "func": "//prepare options for combo, stupid like hell\nmsg.options = [];\nfor (i = 0, len = msg.payload.length; i < len; i++) {\n    //damned dynamic field name creation\n    msg.options.push(msg.payload[i].sensorID);\n}\n\nmsg.payload = []; \n/*also, combo will set selection to this incoming payload,\nbut if You clear it, it will not, thanks */\nmsg.topic = \"options for combo\";\nmsg.params = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "aae90feb.1c673"
            ]
        ]
    },
    {
        "id": "aae90feb.1c673",
        "type": "ui_dropdown",
        "z": "20388b4d.513684",
        "name": "select sensor off",
        "label": "",
        "tooltip": "to display in offline chart",
        "place": "select sensor",
        "group": "e02eeec4.09051",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 580,
        "y": 660,
        "wires": [
            [
                "96949400.9067b8"
            ]
        ]
    },
    {
        "id": "96949400.9067b8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "..",
        "func": "var p = {\n    $sensorID:msg.payload\n}\nreturn {params: p};",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 660,
        "wires": [
            [
                "929fb98c.4e6548"
            ]
        ]
    },
    {
        "id": "b20d7d1d.2fe45",
        "type": "ui_ui_control",
        "z": "20388b4d.513684",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "63e426b0.7b02d8"
            ]
        ]
    },
    {
        "id": "bf5c0d37.cc908",
        "type": "comment",
        "z": "20388b4d.513684",
        "name": "########## Measurements ############",
        "info": "",
        "x": 230,
        "y": 1740,
        "wires": []
    },
    {
        "id": "5bc912ad.d4feec",
        "type": "comment",
        "z": "20388b4d.513684",
        "name": "########## Logging ############",
        "info": "",
        "x": 200,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d7cbac66.e5b79",
        "type": "comment",
        "z": "20388b4d.513684",
        "name": "########## Error general ############",
        "info": "",
        "x": 200,
        "y": 2500,
        "wires": []
    },
    {
        "id": "5295713.523679",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeAcmm",
        "group": "34efbe45.60c2d2",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "ACMM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": [
            "#2d0a3d",
            "#2d0a3d",
            "#2d0a3d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 2080,
        "wires": []
    },
    {
        "id": "1a091792.bd0208",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "meas2gauge",
        "func": "var t = msg.topic.split(\"/\");\nvar src = t[2];\nif (flow.get(\"selectedEsp\")!=src)\n    return;\n    \n\n//objects in payload are flattened in MQTT down to Jsons,\n//so I need to re-create the object\nvar payload = JSON.parse(msg.payload);\n\n//var msg1 = { payload: msg.payload[0].acmmFreq };\nlet relPressure = parseInt(payload.p - global.get('ambientPressure'));\n\nvar msg1 = {topic:\"acmm\",       payload:payload.acmm};\nvar msg2 = {topic:\"tempature\",  payload:payload.t};\nvar msg3 = {topic:\"humidity\",   payload:payload.h};\nvar msg4 = {topic:\"pressure\",   payload:relPressure};\nvar msg5 = {topic:\"impedance\",  payload:payload.imp};\n\n\nreturn [msg1,msg2,msg3,msg4,msg5];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2120,
        "wires": [
            [
                "5295713.523679"
            ],
            [
                "742982d6.9f71fc"
            ],
            [
                "1ef088e2.8164c7"
            ],
            [
                "6c879e0d.50bb"
            ],
            [
                "5b67b040.5747c",
                "2d055bf7c8f3804f"
            ]
        ]
    },
    {
        "id": "742982d6.9f71fc",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeTemperature",
        "group": "34efbe45.60c2d2",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#ffb22e",
            "#ffb22e",
            "#ffb22e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 2120,
        "wires": []
    },
    {
        "id": "1ef088e2.8164c7",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeHumidity",
        "group": "34efbe45.60c2d2",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0084ff",
            "#0084ff",
            "#0084ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 2160,
        "wires": []
    },
    {
        "id": "6c879e0d.50bb",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugePressure",
        "group": "34efbe45.60c2d2",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "rel. Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "-3000",
        "max": "3000",
        "colors": [
            "#00ffcc",
            "#00ffcc",
            "#00ffcc"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 2200,
        "wires": []
    },
    {
        "id": "3c82e49e.af13bc",
        "type": "comment",
        "z": "20388b4d.513684",
        "name": "######### Status ############",
        "info": "",
        "x": 200,
        "y": 2680,
        "wires": []
    },
    {
        "id": "cc66c338.fabc8",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 27,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Status Request",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 4380,
        "wires": [
            [
                "8ca7a312.2065"
            ]
        ]
    },
    {
        "id": "8ca7a312.2065",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/statusReq\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 4380,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "9833ccca.f4425",
        "type": "ui_text",
        "z": "20388b4d.513684",
        "group": "a2f53da8.9db8d",
        "order": 28,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 2800,
        "wires": []
    },
    {
        "id": "341374a2.b57c9c",
        "type": "ui_text",
        "z": "20388b4d.513684",
        "group": "a2f53da8.9db8d",
        "order": 29,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "f.w.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 2960,
        "wires": []
    },
    {
        "id": "7d3c1d6c.7962f4",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Upgrade Firmware",
        "tooltip": "this is not a toy! dont' touch it",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "otaUpgrade",
        "topicType": "str",
        "x": 230,
        "y": 3120,
        "wires": [
            [
                "14cde70e.032669"
            ]
        ]
    },
    {
        "id": "a1a059d1.7c88c8",
        "type": "exec",
        "z": "20388b4d.513684",
        "command": "cd ./smartsensor/build; openssl s_server -WWW -key ca_key.pem -cert ca_cert.pem -port 8070; cd ../..",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "180",
        "oldrc": false,
        "name": "UpgradeFirmware",
        "x": 650,
        "y": 3200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "33e60ddf.c067f2",
        "type": "ui_text",
        "z": "20388b4d.513684",
        "group": "a2f53da8.9db8d",
        "order": 30,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "last rec. msg:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 2840,
        "wires": []
    },
    {
        "id": "14cde70e.032669",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/otaUpgrade\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3120,
        "wires": [
            [
                "a1a059d1.7c88c8",
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "5644448e.6382cc",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "set clock",
        "tooltip": "important! sensors may not have RealTimeClock; let them know the time!",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "setClock",
        "topicType": "str",
        "x": 220,
        "y": 4340,
        "wires": [
            [
                "7e608a59.64fe84"
            ]
        ]
    },
    {
        "id": "7e608a59.64fe84",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/setTime\";\nmsg.payload = {datetime: Date.now()};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 4340,
        "wires": [
            [
                "b2bf426a.5b995",
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "cea03c8c.70e5d",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 3200,
        "wires": [
            [
                "a1a059d1.7c88c8"
            ]
        ]
    },
    {
        "id": "e44d31b8.7ff3d",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 460,
        "y": 2760,
        "wires": []
    },
    {
        "id": "b3680333.56ce9",
        "type": "change",
        "z": "20388b4d.513684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sendInterval",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "bf356fd0.61b85",
        "type": "change",
        "z": "20388b4d.513684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sleepOnStill",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc35222.1fae2e",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "select * from tblMeasurements as M\ninner join tblTests as T on M.testId=T.id\nwhere T.name==$testName ",
        "name": "sql",
        "x": 1130,
        "y": 1980,
        "wires": [
            [
                "371a0b2a.a1b434"
            ]
        ]
    },
    {
        "id": "371a0b2a.a1b434",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "sql2chart",
        "func": "//var data = [[{\"x\":1537348236000,\"y\":2493},{\"x\":1537348326000,\"y\":2493}]];\n//\nvar ac = [];\nvar te = [];\nvar pr = [];\nvar hu = [];\nvar imp = [];\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) {\n    let ts = Date.parse(msg.payload[i].timestamp) + 2*60*60;\n    ac.push({\"x\": ts, \"y\":Number(msg.payload[i].acmm/10)});\n    te.push({\"x\": ts, \"y\":Number(msg.payload[i].temperature)});\n    pr.push({\"x\": ts, \"y\":Number(msg.payload[i].pressure)});\n    hu.push({\"x\": ts, \"y\":Number(msg.payload[i].humidity)});\n    imp.push({\"x\": ts, \"y\":Number(msg.payload[i].impedance/10)});\n}\n\n\n//clear the chart ???\n\n\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"acmm\", data: ac},\n{topic: \"temperature\", data: te},\n{topic: \"pressure\", data: pr},\n{topic: \"humidity\", data: hu},\n{topic: \"impedance\", data: imp}];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1980,
        "wires": [
            [
                "3dfb07e2.bf2538"
            ]
        ]
    },
    {
        "id": "2ed9e80a.d26fd8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var sensorId = flow.get(\"selectedEsp\");\n\nvar testName;\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n    testName = espProps[sensorId].testName;\n}else{\n    testName = flow.get('selectedTestName');\n}\n\n// for sqlite widget\nmsg.params = {\n    $testName: testName }\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1980,
        "wires": [
            [
                "1cc35222.1fae2e"
            ]
        ]
    },
    {
        "id": "ad0f2369.ec8a2",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "34efbe45.60c2d2",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "pre-fetch data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 860,
        "y": 1980,
        "wires": [
            [
                "2ed9e80a.d26fd8"
            ]
        ]
    },
    {
        "id": "ee9d1c54.8e4ef",
        "type": "ui_toast",
        "z": "20388b4d.513684",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Sensor ACKs: ",
        "name": "",
        "x": 920,
        "y": 2800,
        "wires": []
    },
    {
        "id": "3d7e1663.d7af5a",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "3bd133d1.28cefc",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "",
        "label": "send Interval [s]",
        "tooltip": "results are buffered in sensor, this is how often buffer is sent out",
        "group": "a2f53da8.9db8d",
        "order": 20,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "sendInterval",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1",
        "max": "30",
        "step": "1",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "b3680333.56ce9"
            ]
        ]
    },
    {
        "id": "5cb4bcb4.da7ff4",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "",
        "label": "sleep on still [min]",
        "tooltip": "how long to wait before going to deep sleep, when unmoved; set 0 to disable",
        "group": "a2f53da8.9db8d",
        "order": 21,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "0",
        "max": "30",
        "step": 1,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "bf356fd0.61b85"
            ]
        ]
    },
    {
        "id": "db0c9178.f74ee",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 730,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b2bf426a.5b995",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 3340,
        "wires": []
    },
    {
        "id": "b661f7bf.edbeb8",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "let t = msg.topic.split(\"/\");\nlet src = t[2];\nif (flow.get(\"selectedEsp\")!=src)\n    return;\n\nlet payload = JSON.parse(msg.payload);\n\n\nlet ts = new Date(payload.ts);\n\nlet msg1 = {payload: ts.toLocaleString()};\nlet msg2 = {payload: payload.lm};\nlet msg3 = {payload: payload.V};\nlet msg4 = {payload: -payload.rssi};\nlet msg5 = {payload: payload.fw};\n\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2880,
        "wires": [
            [
                "9833ccca.f4425"
            ],
            [
                "33e60ddf.c067f2",
                "ee9d1c54.8e4ef"
            ],
            [
                "12ce0a80f6430622"
            ],
            [
                "9309f0a4d07bab16"
            ],
            [
                "341374a2.b57c9c"
            ]
        ]
    },
    {
        "id": "53b450af.821a2",
        "type": "mqtt in",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "ws/rpi1/+/diag",
        "qos": "2",
        "datatype": "auto",
        "broker": "b45051da.e8073",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 2880,
        "wires": [
            [
                "b661f7bf.edbeb8",
                "e44d31b8.7ff3d"
            ]
        ]
    },
    {
        "id": "468e1347.70ff3c",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/rpi1/sensorID1/diag",
        "payload": "{\"ts\":1606493179870,\"lm\":\"someTopic\",\"V\":46090,\"rssi\":67,\"fw\":\"v2.0b-1-g00d1f3a-dirty\"}",
        "payloadType": "str",
        "x": 230,
        "y": 2940,
        "wires": [
            [
                "b661f7bf.edbeb8"
            ]
        ]
    },
    {
        "id": "c7b3f3a5.4bc19",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "inject corrupt timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/rpi1/sensorID1/measurement",
        "payload": "{\"ts\":608057408617,\"acmm\":12,\"t\":23,\"h\":45,\"p\":1015}",
        "payloadType": "str",
        "x": 140,
        "y": 2000,
        "wires": [
            [
                "3a3f3176.cae33e"
            ]
        ]
    },
    {
        "id": "3a3f3176.cae33e",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var t = msg.topic.split(\"/\");\nvar sensorID = t[2];\n\nflow.set(\"selectedEsp\", sensorID);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 2000,
        "wires": [
            [
                "1450f974.4e4397",
                "25021d96.6b5862",
                "4e04a500.ce037c",
                "9def396a.85a638"
            ]
        ]
    },
    {
        "id": "62487740.274dc8",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1740,
        "wires": []
    },
    {
        "id": "44c0243a.29dc7c",
        "type": "function",
        "z": "20388b4d.513684",
        "d": true,
        "name": "sql2chart",
        "func": "//var data = [[{\"x\":1537348236000,\"y\":2493},{\"x\":1537348326000,\"y\":2493}]];\n//\nvar series =[\"acmm\",\"temperature\",\"pressure\",\"humidity\"];\nvar labels = [\"Labels\"];\nvar ac = [];\nvar te = [];\nvar pr = [];\nvar hu = [];\n\nvar i, len;\n\nfor (i = 1, len = msg.payload.length; i < len; i++) {\n    let ts = Date.parse(msg.payload[i].timestamp) + 2*60*60;\n    ac.push({\"x\": ts, \"y\":Number(msg.payload[i].acmm)});\n    te.push({\"x\": ts, \"y\":Number(msg.payload[i].temperature)});\n    pr.push({\"x\": ts, \"y\":Number(msg.payload[i].pressure-1000)});\n    hu.push({\"x\": ts, \"y\":Number(msg.payload[i].humidity)});\n}\n\nvar data = [ac,te,pr,hu];\n\nmsg.payload = [{series, data, labels}];\n//clear the chart\nnode.send({payload:[]});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "89c5d55f.116438",
        "type": "ui_chart",
        "z": "20388b4d.513684",
        "d": true,
        "name": "",
        "group": "34efbe45.60c2d2",
        "order": 17,
        "width": 11,
        "height": 13,
        "label": "online chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1410,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "3dfb07e2.bf2538",
        "type": "ui_template",
        "z": "20388b4d.513684",
        "group": "34efbe45.60c2d2",
        "name": "Chart.js example",
        "order": 13,
        "width": 22,
        "height": 15,
        "format": "<!-- See the read me comment node. Colin Law's original notes follow -->\n\n<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChartSimple1\" width=\"300\" height=\"200\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChartSimple1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"acmm\",    // used here not by chart.js\n                label: \"acmm/10\",\n                yAxisID: \"fixed_scale\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#2d0a3d\",\n                pointRadius: 3,\n                pointHoverRadius: 3,\n                pointBorderColor: \"#2d0a3d\",\n                pointBackgroundColor: \"#2d0a3d\",\n                backgroundColor:  \"#2d0a3d\",\n                borderWidth: 1,\n                showLine: false,\n                data: []  // data is written here later\n            }, {\n                topic: \"temperature\",    // used here not by chart.js\n                label: \"temperature\",\n                yAxisID: \"fixed_scale\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#FFB22E\",\n                pointRadius: 3,\n                pointHoverRadius: 3,\n                pointBorderColor: \"#FFB22E\",\n                pointBackgroundColor: \"#FFB22E\",\n                backgroundColor:  \"#FFB22E\",\n                borderWidth: 1,\n                showLine: false,\n                data: []  // data is written here later\n            },{\n                topic: \"pressure\",    // used here not by chart.js\n                label: \"rel. pressure\",\n                yAxisID: \"auto_scale\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#00ffcc\",\n                pointRadius: 3,\n                pointHoverRadius: 3,\n                pointBorderColor: \"#00ffcc\",\n                pointBackgroundColor: \"#00ffcc\",\n                backgroundColor:  \"#00ffcc\",\n                borderWidth: 1,\n                showLine: false,\n                data: []  // data is written here later\n            },{\n                topic: \"humidity\",    // used here not by chart.js\n                label: \"humidity\",\n                yAxisID: \"fixed_scale\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0084FF\",\n                pointRadius: 3,\n                pointHoverRadius: 3,\n                pointBorderColor: \"#0084FF\",\n                pointBackgroundColor: \"#0084FF\",\n                backgroundColor:  \"#0084FF\",\n                borderWidth: 1,\n                showLine: false,\n                data: []  // data is written here later\n            },{\n                topic: \"impedance\",    // used here not by chart.js\n                label: \"impedance/10\",\n                yAxisID: \"fixed_scale\",\n                fill: false,\n                lineTension:70,\n                borderColor: \"#cc4499\",\n                pointRadius: 3,\n                pointHoverRadius: 3,\n                pointBorderColor: \"#cc4499\",\n                pointBackgroundColor: \"#cc4499\",\n                backgroundColor:  \"#cc4499\",\n                borderWidth: 1,\n                showLine: false,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'time',\n                    position: 'bottom'\n                    }\n                ],\n                yAxes: [\n                    {\n                    id: \"auto_scale\",\n                    position: 'right',\n                }, {\n                    id: \"fixed_scale\",\n                    position: 'left', \n                    ticks: {\n                        min: -20,\n                        max: 150,\n                        stepSize: 10\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1410,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "e3f386af.b62878",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "msg.action = \"load\";    // This instructs the chart node to paint the data\n\n// The payload is an array of two {topic, data} objects\nmsg.payload = [\n    {topic: \"acmm\", data: []},\n    {topic: \"temperature\", data: []},\n    {topic: \"pressure\", data: []},\n    {topic: \"humidity\", data: []},\n    {topic: \"impedance\", data: []}\n                ];\n                \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1940,
        "wires": [
            [
                "3dfb07e2.bf2538"
            ]
        ]
    },
    {
        "id": "c321dc3a.8f42b",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "sensorID2/registerMe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/rpi1/sensorID2/registerMe",
        "payload": "1",
        "payloadType": "num",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "e3a091e6.414db"
            ]
        ]
    },
    {
        "id": "25f4fe0b.277482",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "inject corrupt timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ws/rpi1/sensorID2/measurement",
        "payload": "{\"ts\":608057408617,\"acmm\":12,\"t\":23,\"h\":45,\"p\":1015}",
        "payloadType": "str",
        "x": 140,
        "y": 2040,
        "wires": [
            [
                "3a3f3176.cae33e"
            ]
        ]
    },
    {
        "id": "91acdcef.616e9",
        "type": "sqlite",
        "z": "20388b4d.513684",
        "mydb": "b5358a46.a94fc8",
        "sqlquery": "prepared",
        "sql": "\nselect * from tblSensorParams where sensorID==$sensorID;\n",
        "name": "select sensor params",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "52851142.08d73",
                "3d7e1663.d7af5a"
            ]
        ]
    },
    {
        "id": "2c4d6130.fde64e",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nvar testName;\nvar testDescription;\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n    testName = espProps[sensorId].testName;\n    testDescription = espProps[sensorId].testDescription;\n}else{\n    let today = new Date();\n    testName = `${today.getFullYear()}_${today.getMonth()+1}_${today.getDate()}__${today.getHours()}_${today.getMinutes()}_${today.getSeconds()}_${sensorId}`;\n    testDescription = \"description\";\n}\nmsg.payload = testName + '/' + testDescription;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "3f8fce17.dd8882",
                "8bc7d3f7.98b5d"
            ]
        ]
    },
    {
        "id": "abff922c.90e28",
        "type": "mqtt in",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "ws/rpi1/+/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "b45051da.e8073",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 3620,
        "wires": [
            [
                "4e639194.53df6",
                "4d9fa3f6.0d590c"
            ]
        ]
    },
    {
        "id": "4e639194.53df6",
        "type": "join",
        "z": "20388b4d.513684",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "8",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 3620,
        "wires": [
            [
                "354a364b.fdcb5a"
            ]
        ]
    },
    {
        "id": "30ed8bab.b30804",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 39,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "readLog",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "readLog",
        "x": 180,
        "y": 3720,
        "wires": [
            [
                "ea7e9329.f6ee2"
            ]
        ]
    },
    {
        "id": "ea7e9329.f6ee2",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/readLog\";\nmsg.payload = \"\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 3720,
        "wires": [
            [
                "d30ba4c0.423df8",
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "4d9fa3f6.0d590c",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 3680,
        "wires": []
    },
    {
        "id": "354a364b.fdcb5a",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "// node.send({\n//     topic:msg.topic, \n//     payload: \"\"\n// });\n\n\n//var t = \"\\x1B[0;31mALA Ma Kota\\x1B[0m\";\n//t = t.replace(/\\u001b[^m]*?m/g, \"\\n\");\n\nvar t = msg.payload.replace(/\\u001b[^m]*?m/g, \"\");\nmsg.payload = t;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 3620,
        "wires": [
            [
                "4d9fa3f6.0d590c",
                "d30ba4c0.423df8"
            ]
        ]
    },
    {
        "id": "864b6ffd.b740d",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ojojoj",
        "payload": "\"\\x1B[0;31mALA Ma Kota\\x1B[0m\"",
        "payloadType": "str",
        "x": 350,
        "y": 3520,
        "wires": [
            [
                "354a364b.fdcb5a"
            ]
        ]
    },
    {
        "id": "d30ba4c0.423df8",
        "type": "ui_template",
        "z": "20388b4d.513684",
        "group": "34efbe45.60c2d2",
        "name": "log",
        "order": 31,
        "width": 16,
        "height": 20,
        "format": "<style>\n    #mylog {\n        min-height: 300px;\n        pading: 0;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind-html=\"msg.payload\">\n    \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 730,
        "y": 3620,
        "wires": [
            []
        ]
    },
    {
        "id": "f98f6aaa.bda1a8",
        "type": "mqtt in",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "ws/rpi1/+/unfinished",
        "qos": "2",
        "datatype": "auto",
        "broker": "b45051da.e8073",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 3920,
        "wires": [
            [
                "1ee4f488.4f22ab"
            ]
        ]
    },
    {
        "id": "1ee4f488.4f22ab",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "...",
        "func": "var t = msg.topic.split(\"/\");\nvar sensorId = t[2];\n\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n    if (espProps[sensorId].unfinished){\n        \n        if (espProps[sensorId].hasOwnProperty('lastUnfinished')){\n            if (Date.now() - espProps[sensorId].lastUnfinished < 5000){\n                node.log('too often unfinished');\n                return;\n            }\n        }\n        espProps[sensorId].lastUnfinished = Date.now();    \n        flow.set(\"espProps\", espProps);\n\n        //prepare some msgs and send them\n        //clock\n        msg.topic = \"ws/\"+sensorId+\"/rpi1/setTime\";\n        msg.payload = {datetime: Date.now()};\n        node.send(msg);\n        \n        //job params\n        msg.topic = \"ws/\"+sensorId+\"/rpi1/setAcmm\";\n        msg.payload = {\n                freq: espProps[sensorId].acmmFreq,\n                aggOver: espProps[sensorId].acmmAggOver\n            }\n        node.send(msg);\n        \n        msg.topic = \"ws/\"+sensorId+\"/rpi1/measFreq\";\n        msg.payload = {\n                freq: espProps[sensorId].measFreq\n            }\n        node.send(msg);\n\n        msg.topic = \"ws/\"+sensorId+\"/rpi1/sleepOnStill\",\n        msg.payload = {\n                timeout: espProps[sensorId].sleepOnStill\n            }\n        node.send(msg);\n\n        msg.topic = \"ws/\"+sensorId+\"/rpi1/sendInterval\",\n        msg.payload = {\n                sendInterval: espProps[sensorId].sendInterval\n            }\n        node.send(msg);\n\n        if (espProps[sensorId].hasOwnProperty('lastAcmm')){\n            msg.topic = \"ws/\"+sensorId+\"/rpi1/clearAcmm\",\n            msg.payload = {\n                    initValue: espProps[sensorId].lastAcmm\n                }\n            node.send(msg);\n            node.log('acmm cleared to'+msg.payload.initValue);\n        }\n        if (espProps[sensorId].hasOwnProperty('lastImp')){\n            msg.topic = \"ws/\"+sensorId+\"/rpi1/clearImp\",\n            msg.payload = {\n                    initValue: espProps[sensorId].lastImp\n                }\n            node.send(msg);\n            node.log('imp cleared to'+msg.payload.initValue);\n        }\n        //job request\n        msg.topic = \"ws/\"+sensorId+\"/rpi1/startMeas\";\n        msg.payload = {};\n        node.send(msg);\n        \n        \n    }\n}\n\n\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 3920,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "7fc6d797.8c0958",
        "type": "mqtt out",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b45051da.e8073",
        "x": 1290,
        "y": 3580,
        "wires": []
    },
    {
        "id": "8fe70965.7bb878",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "AcmmInit",
        "group": "a2f53da8.9db8d",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Acmm Init",
        "tooltip": "re-initialize ACMM filter to a desired value",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 2320,
        "wires": [
            [
                "e10a6ea.e5c609"
            ]
        ]
    },
    {
        "id": "9f19d7d5.66bcd8",
        "type": "ui_numeric",
        "z": "20388b4d.513684",
        "name": "AcmmInitValue",
        "label": "Acmm Init Value",
        "tooltip": "Acmm re-init value, usually You'd wish 0",
        "group": "a2f53da8.9db8d",
        "order": 14,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "100",
        "x": 960,
        "y": 2360,
        "wires": [
            [
                "2db3fd95.81c602"
            ]
        ]
    },
    {
        "id": "e10a6ea.e5c609",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "acmmInit",
        "func": "var sensorId = flow.get(\"selectedEsp\");\n\nvar initValue = 0;\nvar espProps;\nespProps = flow.get(\"espProps\");\nif ((typeof(espProps) === \"object\") && espProps.hasOwnProperty(sensorId)) {\n    initValue = espProps[sensorId].acmmInitValue;\n}\n\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/clearAcmm\";\nmsg.payload = {\n        initValue: initValue\n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 2320,
        "wires": [
            [
                "f775f11.96ff01",
                "e44d31b8.7ff3d"
            ]
        ]
    },
    {
        "id": "f775f11.96ff01",
        "type": "mqtt out",
        "z": "20388b4d.513684",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b45051da.e8073",
        "x": 1250,
        "y": 2320,
        "wires": []
    },
    {
        "id": "2db3fd95.81c602",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "setAcmmInitValue",
        "func": "\nvar payload = JSON.parse(msg.payload);\nvar sensorId = flow.get(\"selectedEsp\");\nvar espProps;\n\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) !== \"object\"){\n    espProps = {};\n}\nif (!espProps.hasOwnProperty(sensorId))\n    espProps[sensorId] = {};\nespProps[sensorId].acmmInitValue = payload;\n\nflow.set(\"espProps\",espProps);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "5b67b040.5747c",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeImp",
        "group": "34efbe45.60c2d2",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Imp",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#cc4499",
            "#cc4499",
            "#cc4499"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 2240,
        "wires": []
    },
    {
        "id": "cc6447d499aea6d5",
        "type": "ui_ui_control",
        "z": "20388b4d.513684",
        "name": "",
        "events": "all",
        "x": 1190,
        "y": 1820,
        "wires": [
            [
                "3dfb07e2.bf2538"
            ]
        ]
    },
    {
        "id": "8886db270a8cba51",
        "type": "ui_template",
        "z": "20388b4d.513684",
        "group": "a2f53da8.9db8d",
        "name": "Grafana Link",
        "order": 10,
        "width": 2,
        "height": 1,
        "format": "<div>\n<a href=\"http://localhost:3000\" target=\"_blank\" rel=\"noopener noreferrer\">Grafana</a>\n<!--<a href=\"http://localhost:3000\">Grafana</a>-->\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "1b6c682b2c6f7b06",
        "type": "link out",
        "z": "20388b4d.513684",
        "name": "",
        "mode": "link",
        "links": [
            "ac5314881ba3a052"
        ],
        "x": 435,
        "y": 2340,
        "wires": []
    },
    {
        "id": "73656ff64b5dc2d0",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "fcnClean",
        "func": "try {\n    msg.payload = msg.payload.toString();\n}\ncatch(error) {\n    msg.topic = \"unable to convert payload to string\";\n    return [null,msg];\n}\n\nmsg.payload = msg.payload.replace(/[^0-9a-zA-Z{}:\\-\\+\\.\\'\\\"\\,]/g,'');\n\ntry {\n    let pl = JSON.parse(msg.payload);\n}    \ncatch(error){\n    msg.topic = \"unable to convert payload to object even after regexp\";\n    return [null,msg];\n}\n    \n    \nreturn [msg,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1880,
        "wires": [
            [
                "9def396a.85a638",
                "4e04a500.ce037c",
                "25021d96.6b5862",
                "1450f974.4e4397",
                "1a091792.bd0208",
                "827a1db148bba893"
            ],
            [
                "314313f0.a41bbc"
            ]
        ]
    },
    {
        "id": "9309f0a4d07bab16",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeRssi",
        "group": "a2f53da8.9db8d",
        "order": 31,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "rssi",
        "label": "dBi",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff2c00",
            "#ffe400",
            "#00ff10"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 2920,
        "wires": []
    },
    {
        "id": "12ce0a80f6430622",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeBatt",
        "group": "a2f53da8.9db8d",
        "order": 32,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "battery",
        "label": "V",
        "format": "{{value}}",
        "min": "3.4",
        "max": "4.3",
        "colors": [
            "#ff2c00",
            "#ffe400",
            "#00ff10"
        ],
        "seg1": "3.6",
        "seg2": "3.75",
        "className": "",
        "x": 670,
        "y": 2880,
        "wires": []
    },
    {
        "id": "827a1db148bba893",
        "type": "link out",
        "z": "20388b4d.513684",
        "name": "heatout",
        "mode": "link",
        "links": [
            "6a2d3fee570e24e8"
        ],
        "x": 455,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b0e0127db2c1eb86",
        "type": "inject",
        "z": "20388b4d.513684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 4000,
        "wires": [
            [
                "1ee4f488.4f22ab"
            ]
        ]
    },
    {
        "id": "2d055bf7c8f3804f",
        "type": "function",
        "z": "20388b4d.513684",
        "d": true,
        "name": "",
        "func": "const delay = 2;\n\nlet sensorId = flow.get(\"selectedEsp\");\nlet sendInterval = 0;\nvar espProps;\nespProps = flow.get(\"espProps\");\nif (typeof(espProps) === \"object\" && espProps !== null && espProps.hasOwnProperty(sensorId)){\n    sendInterval = espProps[sensorId].sendInterval;\n}\n\nlet dueTime = context.get('dueTime');\nif (dueTime == undefined)\n    dueTime = 0;\n    \nmsg = {};\n    \n\nif (msg.topic==\"looptick\"){\n    dueTime -= delay;\n    msg.delay = delay*1;\n}else{//this one comes not from my delay node\n    dueTime = sendInterval;\n    msg.reset = 1;\n}\n\ncontext.set('dueTime', dueTime);\nmsg.payload = dueTime;\nmsg.topic = \"looptick\";\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 2200,
        "wires": [
            [
                "e5e67a1b78a3b957",
                "a3134adcf84d67ea"
            ]
        ]
    },
    {
        "id": "e5e67a1b78a3b957",
        "type": "ui_gauge",
        "z": "20388b4d.513684",
        "name": "gaugeMsgAge",
        "group": "a2f53da8.9db8d",
        "order": 33,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "msgAge",
        "label": "s",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#ff0000",
            "#e4f500",
            "#11ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1280,
        "y": 2160,
        "wires": []
    },
    {
        "id": "a3134adcf84d67ea",
        "type": "delay",
        "z": "20388b4d.513684",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 2200,
        "wires": [
            [
                "2d055bf7c8f3804f",
                "8cca2327ac9aa539"
            ]
        ]
    },
    {
        "id": "8cca2327ac9aa539",
        "type": "debug",
        "z": "20388b4d.513684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 2200,
        "wires": []
    },
    {
        "id": "a018d1a4b551800c",
        "type": "ui_switch",
        "z": "20388b4d.513684",
        "name": "",
        "label": "enable TP",
        "tooltip": "",
        "group": "a2f53da8.9db8d",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "enableTP",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 230,
        "y": 4180,
        "wires": [
            [
                "1940a363e168984e"
            ]
        ]
    },
    {
        "id": "1940a363e168984e",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/tp\";\nmsg.payload = {\n    value: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 4180,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "aa4358170264601e",
        "type": "ui_switch",
        "z": "20388b4d.513684",
        "name": "",
        "label": "enable PH",
        "tooltip": "",
        "group": "a2f53da8.9db8d",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "PH",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 230,
        "y": 4220,
        "wires": [
            [
                "32669e37d8639992"
            ]
        ]
    },
    {
        "id": "32669e37d8639992",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/phase\";\nmsg.payload = {\n    value: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 4220,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "85f485ad46a79cc3",
        "type": "ui_dropdown",
        "z": "20388b4d.513684",
        "name": "",
        "label": "interlock",
        "tooltip": "",
        "place": "interlock",
        "group": "a2f53da8.9db8d",
        "order": 39,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "off",
                "value": "off",
                "type": "str"
            },
            {
                "label": "gnd",
                "value": "gnd",
                "type": "str"
            },
            {
                "label": "hiz",
                "value": "hiz",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 220,
        "y": 4260,
        "wires": [
            [
                "ee938337ef318bb1"
            ]
        ]
    },
    {
        "id": "ee938337ef318bb1",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/interlock\";\nmsg.payload = {\n    value: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 4260,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "4d5cd4e3cbe0529e",
        "type": "ui_switch",
        "z": "20388b4d.513684",
        "name": "",
        "label": "enable PM",
        "tooltip": "",
        "group": "a2f53da8.9db8d",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "pm",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 230,
        "y": 4140,
        "wires": [
            [
                "ee883324ad03f2a2"
            ]
        ]
    },
    {
        "id": "ee883324ad03f2a2",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/pm\";\nmsg.payload = {\n    value: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 4140,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "dce35c862cc1d39c",
        "type": "ui_button",
        "z": "20388b4d.513684",
        "name": "",
        "group": "a2f53da8.9db8d",
        "order": 39,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "sleep now",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "sleep",
        "topicType": "str",
        "x": 220,
        "y": 4300,
        "wires": [
            [
                "c7153ac9bc4bb1f9"
            ]
        ]
    },
    {
        "id": "c7153ac9bc4bb1f9",
        "type": "function",
        "z": "20388b4d.513684",
        "name": "",
        "func": "var sensorId = flow.get(\"selectedEsp\");\nmsg.topic = \"ws/\"+sensorId+\"/rpi1/sleepNow\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 4300,
        "wires": [
            [
                "7fc6d797.8c0958"
            ]
        ]
    },
    {
        "id": "3e629f1e8ca02430",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "096b3f632a1d5516",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 24,
        "width": 7,
        "height": 1
    },
    {
        "id": "5719bcfea7071fa6",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 25,
        "width": 7,
        "height": 1
    },
    {
        "id": "6cf2fe91e4d89f41",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "26b0cc3e64450c92",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "c34617e5f909d1fd",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 37,
        "width": 5,
        "height": 1
    },
    {
        "id": "e6553fea7c4bfd7f",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "a2f53da8.9db8d",
        "order": 38,
        "width": 5,
        "height": 1
    },
    {
        "id": "29f82615fee8a9ef",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "bbe33579be4d8231",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "93b12d6cbba98ead",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "385842811fa334f2",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 12,
        "width": 22,
        "height": 1
    },
    {
        "id": "dd44b701fb8701f1",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 14,
        "width": 22,
        "height": 1
    },
    {
        "id": "20c5b136e04d688d",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 15,
        "width": 22,
        "height": 1
    },
    {
        "id": "be4cb7c058673625",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 16,
        "width": 22,
        "height": 1
    },
    {
        "id": "71d837d4bc8e2c97",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 18,
        "width": 11,
        "height": 1
    },
    {
        "id": "b0689a87771f19b5",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "ca3fbd2706a2b8eb",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 20,
        "width": 11,
        "height": 1
    },
    {
        "id": "90f3867f055ccf0c",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 21,
        "width": 11,
        "height": 1
    },
    {
        "id": "0ebd09bc7d5f3bb5",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 22,
        "width": 11,
        "height": 1
    },
    {
        "id": "e2942f1f7e9be0d8",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 23,
        "width": 11,
        "height": 1
    },
    {
        "id": "ac22a14776fa32db",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 24,
        "width": 11,
        "height": 1
    },
    {
        "id": "af25deef37bade9a",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 25,
        "width": 11,
        "height": 1
    },
    {
        "id": "c7d7c0f847f52d51",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 26,
        "width": 11,
        "height": 1
    },
    {
        "id": "9b4ebe2ca80bcdd8",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 27,
        "width": 11,
        "height": 1
    },
    {
        "id": "0f387f2178eb31f9",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 28,
        "width": 11,
        "height": 1
    },
    {
        "id": "a347cb583926bf95",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 29,
        "width": 11,
        "height": 1
    },
    {
        "id": "b50a493e3a2ba83f",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 30,
        "width": 11,
        "height": 1
    },
    {
        "id": "0a7539509e6f8bcd",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 32,
        "width": 6,
        "height": 1
    },
    {
        "id": "f3380b313fe53a8e",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 33,
        "width": 6,
        "height": 1
    },
    {
        "id": "353ab627021b0a68",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 34,
        "width": 6,
        "height": 1
    },
    {
        "id": "54ee00e645b20328",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 35,
        "width": 6,
        "height": 1
    },
    {
        "id": "ed4774bea76c5173",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 36,
        "width": 6,
        "height": 1
    },
    {
        "id": "0f934ea2d5dd0894",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 37,
        "width": 6,
        "height": 1
    },
    {
        "id": "46d1c160c0ea746c",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 38,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c3931fdd04cb034",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 39,
        "width": 6,
        "height": 1
    },
    {
        "id": "5b12515c69305deb",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 40,
        "width": 6,
        "height": 1
    },
    {
        "id": "e99e1b788374afe6",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 41,
        "width": 6,
        "height": 1
    },
    {
        "id": "e88ef19eb8048c29",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 42,
        "width": 6,
        "height": 1
    },
    {
        "id": "2150697c9f48e558",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 43,
        "width": 6,
        "height": 1
    },
    {
        "id": "083acd53788cf9f2",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 44,
        "width": 6,
        "height": 1
    },
    {
        "id": "e463bf433d212883",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 45,
        "width": 6,
        "height": 1
    },
    {
        "id": "b9c44317ac29de78",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 46,
        "width": 6,
        "height": 1
    },
    {
        "id": "fa783b9ef96bca7e",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 47,
        "width": 6,
        "height": 1
    },
    {
        "id": "baf1549c1c01175d",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 48,
        "width": 6,
        "height": 1
    },
    {
        "id": "6f36a6a663a90f0a",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 49,
        "width": 6,
        "height": 1
    },
    {
        "id": "787f8ff908dbbb77",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 50,
        "width": 6,
        "height": 1
    },
    {
        "id": "964de1e8e8693cdd",
        "type": "ui_spacer",
        "z": "20388b4d.513684",
        "name": "spacer",
        "group": "34efbe45.60c2d2",
        "order": 51,
        "width": 6,
        "height": 1
    },
    {
        "id": "b45051da.e8073",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "34efbe45.60c2d2",
        "type": "ui_group",
        "name": "Charts",
        "tab": "f78a8745.2c0858",
        "order": 2,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2f53da8.9db8d",
        "type": "ui_group",
        "name": "Sensor Settings",
        "tab": "f78a8745.2c0858",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5358a46.a94fc8",
        "type": "sqlitedb",
        "db": "/data/dbSmartSensor",
        "mode": "RWC"
    },
    {
        "id": "e02eeec4.09051",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "ce6a7bb3.cdc938",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f78a8745.2c0858",
        "type": "ui_tab",
        "name": "SmartSensor Online",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce6a7bb3.cdc938",
        "type": "ui_tab",
        "name": "SmartSensor Offline",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]