old_solution_not_used/node-red/cpuMonitor.json
[
    {
        "id": "e6188503.08c928",
        "type": "tab",
        "label": "cpuMonitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97d342c2.dff93",
        "type": "exec",
        "z": "e6188503.08c928",
        "command": "cat /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_cur_freq",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cpuinfo_cur_freq",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "6c708909.f95c38"
            ],
            [],
            []
        ]
    },
    {
        "id": "530473d9.e1912c",
        "type": "ui_gauge",
        "z": "e6188503.08c928",
        "name": "gaugeCPU",
        "group": "6971f953.ace0c8",
        "order": 29,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "R-CPU",
        "label": "MHz",
        "format": "{{value}}",
        "min": "300",
        "max": "1500",
        "colors": [
            "#00ff1e",
            "#c9b824",
            "#ff3900"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "bbc668fe.66b0c8",
        "type": "inject",
        "z": "e6188503.08c928",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "97d342c2.dff93"
            ]
        ]
    },
    {
        "id": "6c708909.f95c38",
        "type": "function",
        "z": "e6188503.08c928",
        "name": "",
        "func": "let cpu_load = msg.payload / 1000;\nif (cpu_load != flow.get('cpu_load')){\n    flow.set('cpu_load', cpu_load);\n    msg.payload = cpu_load;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "530473d9.e1912c"
            ]
        ]
    },
    {
        "id": "6971f953.ace0c8",
        "type": "ui_group",
        "name": "Sensor Settings",
        "tab": "e0e21613.bfdea8",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "e0e21613.bfdea8",
        "type": "ui_tab",
        "name": "SmartSensor Online",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]