old_solution_not_used/node-red/rpiBme280.json
[
    {
        "id": "cb8cc566.bbb298",
        "type": "tab",
        "label": "rpiBme280",
        "disabled": false,
        "info": ""
    },
    {
        "id": "817aee48.257ab",
        "type": "Bme280",
        "z": "cb8cc566.bbb298",
        "name": "",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280",
        "extra": false,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "2790e191.438fbe"
            ]
        ]
    },
    {
        "id": "6edfe848.e4ec78",
        "type": "debug",
        "z": "cb8cc566.bbb298",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "2790e191.438fbe",
        "type": "function",
        "z": "cb8cc566.bbb298",
        "name": "",
        "func": "global.set('ambientPressure',parseInt(msg.payload.pressure_hPa*100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "6edfe848.e4ec78",
                "76555c8f.bd4ae4"
            ]
        ]
    },
    {
        "id": "107c1ab3.55f365",
        "type": "function",
        "z": "cb8cc566.bbb298",
        "name": "",
        "func": "if (msg.status.fill == \"red\") {\n    global.set('ambientPressure',parseInt(101300));\n    msg.payload = 'normal ambient pressure';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 320,
        "wires": [
            [
                "6edfe848.e4ec78"
            ]
        ]
    },
    {
        "id": "31e1300c.e9c08",
        "type": "status",
        "z": "cb8cc566.bbb298",
        "name": "",
        "scope": [
            "817aee48.257ab"
        ],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "107c1ab3.55f365"
            ]
        ]
    },
    {
        "id": "2da444.610ecbbc",
        "type": "catch",
        "z": "cb8cc566.bbb298",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "6edfe848.e4ec78"
            ]
        ]
    },
    {
        "id": "76555c8f.bd4ae4",
        "type": "delay",
        "z": "cb8cc566.bbb298",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "817aee48.257ab"
            ]
        ]
    },
    {
        "id": "f0619d0c.425c2",
        "type": "link in",
        "z": "cb8cc566.bbb298",
        "name": "",
        "links": [
            "1b6c682b2c6f7b06"
        ],
        "x": 275,
        "y": 220,
        "wires": [
            [
                "817aee48.257ab"
            ]
        ]
    }
]